# =======================================================
# =======================UNIVERSAL=======================
# =======================================================
# Your timezone
TZ=America/Vancouver
# PUID
PUID=1000
PGID=1000
# Config and data directories
CONFIGROOT=/example/directory/where/you/want/your/configs/to/live
DATAROOT=/example/directory/where/you/want/your/media/to/live

# =======================================================
# =========================PLEX==========================
# =======================================================
PLEX_CLAIM=short-lived-code

# =======================================================
# ========================GLUETUN========================
# =======================================================
WIREGUARD_KEY=dont-share-this-key
WIREGUARD_ADDRESS=ipv4-or-ipv6
SERVER_CITIES=Vancouver

# =======================================================
# ========================RANGARR========================
# =======================================================

# =======================================================
# ======================RECLAIMERR=======================
# =======================================================

# =======================================================
# ========================CINERR=========================
# =======================================================
